<div class="album py-5 bg-light">

    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div *ngFor="let item of items" class="col">
              <mat-card class="example-card rounded">
                <mat-card-header>
                  <mat-card-title>{{ item.nombre }}</mat-card-title>
                  <mat-card-subtitle>{{ item.marca }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="item.rutaImg | imgPipe" width="100%" height="225" alt="">
                <mat-card-content>
                  <strong>Precio: </strong> $ {{ item.precio | number: '1.2-2' }}<hr>
                  <strong>Descripción: </strong> <p>{{ item.descripcion }}</p><hr>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-raised-button (click)="anadirCarrito(item)" color="warn">Añadir al Carrito</button>
                </mat-card-actions>
              </mat-card>
            </div>

        </div>

    </div>

</div>