<mat-card class="card-carrito">
  <mat-card-title align="center">Carrito de Compras</mat-card-title>
  <mat-card-subtitle align="center">Items seleccionados para comprar</mat-card-subtitle>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Action Column -->
        <ng-container matColumnDef="spr">
          <th mat-header-cell *matHeaderCellDef><h2>spr</h2></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-mini-fab
              class="mini"
              color="warn"
              (click)="quitarCarrito(element.id)">
              <mat-icon>remove</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef><h2>Tipo</h2></th>
            <td mat-cell *matCellDef="let element"><h3> {{element.tipo}} </h3></td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef><h2>Nombre</h2></th>
          <td mat-cell *matCellDef="let element"><h3> {{element.nombre}} </h3></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <!-- Marca Column -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef><h2>Marca</h2></th>
          <td mat-cell *matCellDef="let element"><h3> {{element.marca}} </h3></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <!-- Precio Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef><h2>Precio</h2></th>
          <td mat-cell *matCellDef="let element"><h3> {{element.precio | currency }} </h3></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <!-- Cantidad Column -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef><h2>Cantidad</h2></th>
          <td mat-cell *matCellDef="let element">
            <h3>
              <div class="centar">
                <button class="btn btn-primary" (click)="menos(element.id)">-</button>
                <input matInput type="number" value="{{element.cantidad}}" readonly="true">
                <button class="btn btn-primary" (click)="mas(element.id)">+</button>
              </div>
            </h3>
          </td>
          <td mat-footer-cell *matFooterCellDef><h2> Total: </h2></td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef><h2>Total</h2></th>
          <td mat-cell *matCellDef="let element"><h3> {{element.subtotal | currency}} </h3></td>
          <td mat-footer-cell *matFooterCellDef><h2> {{getTotal() | currency}} </h2></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary">Pagar con Paypal</button>
      
  </mat-card-actions>
</mat-card>