<div class="px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Items de Interés</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <object data="../../../../assets/images/icons-svg/guitar-icon.svg" width="30" height="30"> </object>
            </div>
            <div>
            <h2>Guitarras</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <button (click)="navGuitar()" class="btn btn-primary">
                Ver Guitarras
            </button>
            </div>
        </div>
        
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
            </div>
            <div>
                <h2>Amplificadores</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <button (click)="navAmplis()" class="btn btn-primary">
                    Ver Amplificadores
                </button>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
            </div>
            <div>
                <h2>Bajos</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <button (click)="navBajos()" class="btn btn-primary">
                    Ver Bajos
                </button>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
            </div>
            <div>
                <h2>Micrófonos</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <button (click)="navMicros()" class="btn btn-primary">
                    Ver micrófonos
                </button>
            </div>
        </div>

    </div>
</div>