<header class="d-flex bg-dark flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a (click)="navHome()" class="d-flex align-items-center col-md-3 mb-1 mb-md-0 text-dark text-decoration-none">
    <h2 class="text-white">Choneros Music</h2>
    </a>

    <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 text-white" (click)="navGuitar()">Guitarras</a></li>
        <li><a class="nav-link px-2 text-white" (click)="navAmplis()">Amplificadores</a></li>
        <li><a class="nav-link px-2 text-white" (click)="navBajos()">Bajos</a></li>
        <li><a class="nav-link px-2 text-white" (click)="navMicros()">Micrófonos</a></li>
        <li><a class="nav-link px-2 text-secondary" (click)="navPreguntas()">Preguntas</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <button *ngIf="!ls.getItem('token'); else nombre" class="btn btn-primary" [routerLink]="['/auth/login']">Login</button>
        <ng-template #nombre><button class="btn btn-primary" (click)="navegar()">{{ls.getItem('nombre')}}</button></ng-template>
        
        <button class="btn btn-danger" (click)="abrirCarrito()">Carrito</button>
        <button *ngIf="ls.getItem('token')" class="btn btn-warning" (click)="logout()">Logout</button>
    </div>
</header>