<form [formGroup]="preg" class="editar row g-3">

    <!-- <div visible="" class="input-group">
        <span class="input-group-text">Id</span>
        <input formControlName="id" type="number" class="form-control" placeholder="0">
    </div> -->

    <div class="input-group">
        <span class="input-group-text">Nombre</span>
        <input formControlName="usuarioPregunta" type="text" class="form-control" placeholder="Nombre">
    </div>

    <div class="input-group">
        <span class="input-group-text">Título</span>
        <input formControlName="tituloPregunta" type="text" class="form-control" placeholder="Título">
    </div>

    <div class="input-group">
        <span class="input-group-text">Contenido</span>
        <textarea formControlName="textoPregunta" class="form-control"  rows="3" maxlength="150"></textarea>
    </div>

    <div align="center" class="clo-12">
        <button type="button" (click)="guardar()" class="btn btn-primary" [disabled]="!preg.valid">Añadir</button>
    </div>

</form>