<div class="container">

    <div>
        Este apartado es para realizar preguntas y puedan ser contestadas por otra persona.
        <hr>
        <button (click)="newPreg()" class="btn btn-primary">Nueva Pregunta</button>
    </div>

    <div *ngFor="let item of pregArray" class="card">
        <h5 class="card-header">{{ item.usuarioPregunta }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ item.tituloPregunta }}</h5>
          <p class="card-text">{{ item.textoPregunta }}</p>
          <a [routerLink]="[ '/respInput', item.id ]" class="btn btn-primary">Responder</a>
          <a [routerLink]="[ '/editarPreg', item.id ]" class="btn btn-primary">Editar</a>
        </div>

        <div *ngFor="let resp of respArray" class="card col-11" align="right">
            <div *ngIf="item.id === resp.preguntaId">
                <h5 class="card-header">{{ resp.usuarioRespuesta }}</h5>
                <div class="card-body">
                <h5 class="card-title">{{ resp.tituloRespuesta}}</h5>
                <p class="card-text">{{ resp.textoRespuesta }}</p>
                <button
                    class="btn btn-warning"
                    (click)="borrar(resp.id!)">
                    Eliminar
                </button>
                </div>

            </div>
            
        </div>
    </div>
</div>